#pokemon-ID{
    color:#919191;
    margin: 6px auto;
    font-size: 80%;
}

#pokemon-Name{
    color:'black';
    font-size: 145%;
}

#image-container{
    text-align-last: center;
}

#image{
    width:150px
}